nav a {
  margin: 6px;
}

@media (min-width: 991px) {
  img {
    width: 60%;
  }
  #marvel-costume,
  #marvel-sweatshirt {
    width: 100%;
  }
}
@media (max-width: 991px) {
  img {
    width: 100%;
  }
  #marvel-costume,
  #marvel-sweatshirt {
    width: 45%;
  }
}
.container img {
  width: 100%;
}

table {
  border: 2px solid blueviolet;
  border-collapse: collapse;
  width: 60%;
}
th {
  text-align: left;
  background-color: violet;
  border: 2px solid blueviolet;
  padding: 6px;
}
td {
  border: 1px solid violet;
  border-collapse: collapse;
  padding: 6px;
}
.badge {
  margin: 10px;
}
.badge:hover {
  background-color: aqua;
}
