//header
h1 {
  text-align: center;
}

nav a {
  margin: 6px;
}

// Increase vertical spacing in the grid
.container {
  .col-sm,
  .col-lg {
    margin-bottom: 50px;
  }
  img {
    width: 100%;
  }
}

// "Like" and "Favorite" buttons
%message-button {
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  display: inline;
  text-align: center;
  border: 1px solid black;
}
%message-button:hover {
  background-color: orange;
}
%message-button:focus {
  background-color: grey;
}

.like-button {
  @extend %message-button;
  background-color: cadetblue;
}

.favorite-button {
  @extend %message-button;
  background-color: yellow;
}

// Display costume photos side-by-side when they are in their own row
$wide-screen: 991px;
@media (min-width: $wide-screen) {
  #marvel-costume,
  #marvel-sweatshirt {
    width: 100%;
  }
}
@media (max-width: $wide-screen) {
  #marvel-costume,
  #marvel-sweatshirt {
    width: 45%;
  }
}

// Style table on amigurumi page
$table-color: cadetblue;
table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 60%;
  th {
    text-align: left;
    background-color: $table-color;
    border: 2px solid black;
    padding: 6px;
  }
  td {
    border: 1px solid $table-color;
    border-collapse: collapse;
    padding: 6px;
  }
}

// Spacing for Bootstrap "new" badge
.badge {
  margin: 10px;
}
